h1 {
    color: #FF5CB4;
    font-family: "Handjet", sans-serif;
    font-size: 70px;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
      "ELGR" 1,
      "ELSH" 2;
}

h2{
    color: #31AD9E;
    font-size: 50px;
    font-family: "Handjet", sans-serif;
    font-weight: 450;

}
h3{
    color: #FF5CB4;
}

p {
    color: #FFC2E3;
    font-family: "Lucida Console", "Courier New", monospace;
}

footer{
    font-size:15px;
}

a{
    color: #FF5CB4;
    font-family: "copperplate", monospace;
    font-size: 20px;
}

li, td{
    color: #C6B5FF;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size:17px;
   
}

th, td{
    color: #C6B5FF;
    border: 3px solid #31AD9E;
    padding: 8px;
    text-align: center;
}

th{
    font-size: 20px;
}

table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 80%;
    
    
}

img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

body {
    background-color: #591B09;
}

