h1 {
    color: #FF5CB4;
    font-family: "Handjet", sans-serif;
    font-size: 70px;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
      "ELGR" 1,
      "ELSH" 2;
}

h2{
    color: #31AD9E;
}

p{
    color: #FFC2E3;
}

li{
    color: #C6B5FF;
}

body {
    background-color: #591B09;
}

